@using EstateSolution.Models
@{
    ViewBag.Title = "QuanLyNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@helper Truncate(String s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length) <text> ... </text>

    }
}
@{
    NHANVIEN tv = (NHANVIEN)Session["NHANVIEN"];
}
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">QUẢN LÝ NHÂN VIÊN</h3>
        <div class="mb-4" style="margin-top:1%">

            <a id="add" href="@Url.Action("CreateNv","QuanLyNhanVien")" class=" btn btn-success" role="button" style="color:white"><i class="fas fa-plus-circle"></i> Thêm nhân viên</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng danh sách nhân viên
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã nhân viên</th>
                            <th>Họ và tên</th>
                            <th>Giới tính</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Facebook</th>
                            <th>Chức vụ</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã nhân viên</th>
                            <th>Họ và tên</th>
                            <th>Giới tính</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Facebook</th>
                            <th>Chức vụ</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var i in Model)
                        {
                            if(i.MANV != 1) { 
                                <tr>
                                <td>@i.MANV</td>
                                <td>@i.HOTEN</td>
                                @if (i.GIOITINH.Equals("Male")) { 
                                    <td>Nam</td>
                                }
                                else { 
                                    <td>Nữ</td>
                                }
                                <td>@i.DIACHI</td>
                                <td>@i.EMAIL</td>
                                <td>@i.DIENTHOAI</td>
                                @if (i.LINK_FACEBOOK.Equals(""))
                                {
                                    <td>Chưa cập nhật</td>
                                }
                                else
                                {
                                    <td>@i.LINK_FACEBOOK</td>
                                }
                                <td>@i.PHANQUYEN.CHUCVU</td>
                                <td><a id="edit" href="@Url.Action("EditNv",new { ma = @i.MANV})" class=" btn btn-warning" role="button">Sửa</a></td>
                                <td><a id="details" href="@Url.Action("DetailNv", new{ ma = @i.MANV})" class=" btn btn-primary" role="button">Chi tiết</a></td>
                                <td><a id="delete" href="@Url.Action("DeleteNv", new{ ma = @i.MANV})" class=" btn btn-danger" role="button">Xóa</a></td>

                            </tr>
                            }
                            
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>




