@using EstateSolution.Models;
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@helper Truncate(String str, int len)
{
    if (str.Length > len)
    {
        @str.Substring(0, len) <text> ... </text>

    }
    else
    {
        @str
    }
}
<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">

            <div class="item"><img src="~/assets/img/slide1/slider-image-1.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="~/assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="~/assets/img/slide1/slider-image-4.jpg" alt="GTA V"></div>

        </div>
    </div>
    <div class="container slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>TRUNG NHÂN ESTATE</h2>
                <p>Đặt cọc trước bất động sản mà bạn muốn</p>
                <div class="search-form wow pulse container" data-wow-delay="0.8s" style="max-width:80%">
                    @*@using (Html.BeginForm("SearchPage", "Search", FormMethod.Post))
                        {*@
                    <form action="/Search/SearchPage" method="post" class="form-inline">
                        <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa..." name="txtTimKiem">
                        </div>
                        @Html.Action("BDS_TYPE", "Home")

                        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

                        @*@Html.Action("BDS_TYPE", "Home")*@

                    </form>
                    @*}*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title"> @ViewBag.ThongBao</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-area submit-property" style="background-color: #F7f8fd;">
    &nbsp;
    <div class="container">
        <div class="clearfix">
            <div class="wizard-container">

                <div class="wizard-card ct-wizard-orange" id="wizardProperty" style="padding-top: 3%; padding-bottom: 4%; background-color: #fff; border-radius: 1%; box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;">
                    <div class="wizard-header" style="padding-left: 2.5%; padding-right: 2.5%">
                        <h4>@ViewBag.TuKhoa</h4>
                        <hr />
                        @foreach (var item in Model)
                        {
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="col-md-2 wow fadeInRight" data-wow-delay="0.5s">
                                        <img src="~/assets/img/img-data/@item.hinhanh" style="width:90%;height:auto;margin-top:16px" />
                                    </div>
                                    <div class="col-md-10">
                                        <div class="col-md-12 wow fadeInRight" data-wow-delay="1.0s">
                                            <h4 class="property-info-label">@Truncate(@item.tenbds, 63)</h4>
                                        </div>
                                        <div class="col-md-12" style="padding-left: 0">
                                            <div class="col-md-2 wow fadeInRight" data-wow-delay="1.0s">
                                                <h2 style="margin: 0; color: #FFA500;"><i class="fa fa-money" aria-hidden="true"></i></h2>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label">Mức giá</span>
                                                    <span class="property-info-value">@item.gia tỷ</span>
                                                </span>
                                            </div>
                                            <div class="col-md-2 wow fadeInRight" data-wow-delay="1.0s" style="padding:0">
                                                <span class="property-info icon-area" id="btnDienTich">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 48 48">
                                                        <path class="meta-icon" fill="#FFA500" d="M46 16v-12c0-1.104-.896-2.001-2-2.001h-12c0-1.103-.896-1.999-2.002-1.999h-11.997c-1.105 0-2.001.896-2.001 1.999h-12c-1.104 0-2 .897-2 2.001v12c-1.104 0-2 .896-2 2v11.999c0 1.104.896 2 2 2v12.001c0 1.104.896 2 2 2h12c0 1.104.896 2 2.001 2h11.997c1.106 0 2.002-.896 2.002-2h12c1.104 0 2-.896 2-2v-12.001c1.104 0 2-.896 2-2v-11.999c0-1.104-.896-2-2-2zm-4.002 23.998c0 1.105-.895 2.002-2 2.002h-31.998c-1.105 0-2-.896-2-2.002v-31.999c0-1.104.895-1.999 2-1.999h31.998c1.105 0 2 .895 2 1.999v31.999zm-5.623-28.908c-.123-.051-.256-.078-.387-.078h-11.39c-.563 0-1.019.453-1.019 1.016 0 .562.456 1.017 1.019 1.017h8.935l-20.5 20.473v-8.926c0-.562-.455-1.017-1.018-1.017-.564 0-1.02.455-1.02 1.017v11.381c0 .562.455 1.016 1.02 1.016h11.39c.562 0 1.017-.454 1.017-1.016 0-.563-.455-1.019-1.017-1.019h-8.933l20.499-20.471v8.924c0 .563.452 1.018 1.018 1.018.561 0 1.016-.455 1.016-1.018v-11.379c0-.132-.025-.264-.076-.387-.107-.249-.304-.448-.554-.551z"></path>
                                                    </svg>
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label">Diện tích</span>
                                                    <span class="property-info-value" id="dienTich">@item.dientich</span>
                                                </span>
                                            </div>
                                            <div class="col-md-2 wow fadeInRight" data-wow-delay="1.0s" style="padding:0">
                                                <span class="property-info-icon icon-bed">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 48 48">
                                                        <path class="meta-icon" fill="#FFA500" d="M21 48.001h-19c-1.104 0-2-.896-2-2v-31c0-1.104.896-2 2-2h19c1.106 0 2 .896 2 2v31c0 1.104-.895 2-2 2zm0-37.001h-19c-1.104 0-2-.895-2-1.999v-7.001c0-1.104.896-2 2-2h19c1.106 0 2 .896 2 2v7.001c0 1.104-.895 1.999-2 1.999zm25 37.001h-19c-1.104 0-2-.896-2-2v-31c0-1.104.896-2 2-2h19c1.104 0 2 .896 2 2v31c0 1.104-.896 2-2 2zm0-37.001h-19c-1.104 0-2-.895-2-1.999v-7.001c0-1.104.896-2 2-2h19c1.104 0 2 .896 2 2v7.001c0 1.104-.896 1.999-2 1.999z"></path>
                                                    </svg>
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label">Số phòng ngủ</span>
                                                    <span class="property-info-value">@item.sophongngu</span>
                                                </span>
                                            </div>
                                            <div class="col-md-2 wow fadeInRight" data-wow-delay="1.0s" style="padding:0">
                                                <span class="property-info-icon icon-bath">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 48 48">
                                                        <path class="meta-icon" fill="#FFA500" d="M37.003 48.016h-4v-3.002h-18v3.002h-4.001v-3.699c-4.66-1.65-8.002-6.083-8.002-11.305v-4.003h-3v-3h48.006v3h-3.001v4.003c0 5.223-3.343 9.655-8.002 11.305v3.699zm-30.002-24.008h-4.001v-17.005s0-7.003 8.001-7.003h1.004c.236 0 7.995.061 7.995 8.003l5.001 4h-14l5-4-.001.01.001-.009s.938-4.001-3.999-4.001h-1s-4 0-4 3v17.005000000000003h-.001z"></path>
                                                    </svg>
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label">Số phòng tắm</span>
                                                    <span class="property-info-value">@item.sophongtam</span>
                                                </span>
                                            </div>
                                            <div class="col-md-2 wow fadeInRight" data-wow-delay="1.0s" style="padding:0">
                                                <span class="property-info-icon icon-bed" style="margin-bottom:30px">
                                                    <img src="~/assets/img/icon/cars-orange.png" width="58" height="58" style="margin-bottom:13px">
                                                </span>
                                                <span class="property-info-entry">
                                                    <span class="property-info-label">Số garages</span>
                                                    <span class="property-info-value">@item.sogara</span>
                                                </span>
                                            </div>
                                            <div class="col-md-2 wow fadeInRight" data-wow-delay="1.0s" style="padding:0;text-align:right">
                                                <a href="@Url.Action("Detail", "Home", new { idBds = item.mabds, state = 0 })"><button class="button btn btn-primary">Chi tiết</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


