@using EstateSolution.Models;
@{
    ViewBag.Title = "DetailDg";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color:#fff;margin-top: 1%; margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; border: 1px solid #c7c7c7; box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; border-radius: 15px ">
    <h3 style="margin-left:1.5%">Thông tin bình luận</h3>
    <div class="form-horizontal container-fluid" style="padding-top:1%">
        <div class="form-group container-fluid">
            Mã bình luận
            <div class="col-md-12">
                <input type="text" class="form-control" value="@ViewBag.MABL" />
            </div>
        </div>
        <div class="form-group container-fluid">
            Tên bất động sản
            <div class="col-md-12">
                <input type="text" class="form-control" value="@ViewBag.TENBDS" />
            </div>
        </div>
        <div class="form-group container-fluid">
            Hình ảnh
            <div class="col-md-12">
                <img src="~/assets/img/img-data/@ViewBag.HINHANH" style="width:150px; height:auto" />
            </div>
        </div>
        <div class="form-group container-fluid">
            Người bình luận
            <div class="col-md-12">
                <input type="text" class="form-control" value="@ViewBag.HOTEN" />
            </div>
        </div>
        <div class="form-group container-fluid">
            Nội dung
            <div class="col-md-12">
                <textarea class="form-control" name="NOIDUNG" style="height:200px;">@Html.Raw(@ViewBag.NOIDUNG.ToString().Replace("\n", ""))</textarea>
            </div>
        </div>
        <div class="form-group container-fluid">
            Ngày bình luận
            <div class="col-md-12">
                <input type="text" name="NGAYDANG" class="form-control" value="@Html.FormatValue(@ViewBag.NGAYBL, "{0:dd/MM/yyyy}")" />
            </div>
        </div>
        <div class="form-group container-fluid">
            Số sao
            <div class="col-md-12">
                @{
                    var ii = 0; var y = 1;
                }

                @if (Convert.ToInt32(@ViewBag.SOSAO) == 5)
                {
                    for (; ii < (int)Convert.ToInt32(@ViewBag.SOSAO); ii++)
                    {
                        <img src="~/Areas/Admin/src/img/icon_star.png" width="25" height="auto" style="color: #FFD700;" />
                    }
                }
                else if (Convert.ToInt32(@ViewBag.SOSAO) < 5)
                {
                    for (; ii < (int)Convert.ToInt32(@ViewBag.SOSAO); ii++)
                    {
                        <img src="~/Areas/Admin/src/img/icon_star.png" width="25" height="auto" style="color: #FFD700;" />
                    }
                    for (; y <= 5 - (int)Convert.ToInt32(@ViewBag.SOSAO); y++)
                    {
                        <img src="~/Areas/Admin/src/img/icon-star-o.png" width="25" height="auto" style="color: #FFD700;" />
                    }
                }
            </div>
        </div>
        <div class="form-group container-fluid">
            Tình trạng phản hồi
            <div class="col-md-12">
                <input type="text" name="TINHTRANGPH" class="form-control" value="@ViewBag.TINHTRANGPH" readonly />
            </div>
        </div>

        <br />
        <div class="form-group container-fluid row">
            <div class="col-md-1" style="padding-left: 0; padding-right: 0">
                <a href="/Admin/Admin/QuanLyDanhGia"><button class="btn btn-danger">Back</button></a>
            </div>

        </div>

    </div>

</div>

