@using EstateSolution.Models;
@{
    ViewBag.Title = "EditNv";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("EditNv", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container" style="background-color:#fff;margin-top: 1%; margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; border: 1px solid #c7c7c7; box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; border-radius: 15px ">
        <h3 style="margin-left:1.5%">Chỉnh sửa thông tin nhân viên</h3>
        <div class="form-horizontal container-fluid" style="padding-top:1%">
            <div class="form-group container-fluid">
                Mã nhân viên
                <div class="col-md-12">
                    <input type="text" name="MANV" class="form-control" value="@ViewBag.MANV" readonly/>
                </div>
            </div>
            <div class="form-group container-fluid">
                Họ và tên
                <div class="col-md-12">
                    <input type="text" name="HOTEN" class="form-control" value="@ViewBag.HOTEN" />
                </div>
            </div>
            <div class="form-group container-fluid">
                Giới tính
                <div class="col-md-12">
                    @Html.DropDownList("GIOITINH", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group container-fluid">
                Địa chỉ
                <div class="col-md-12">
                    <input type="text" name="DIACHI" class="form-control" value="@ViewBag.DIACHI" />
                </div>
            </div>
            <div class="form-group container-fluid">
                Email
                <div class="col-md-12">
                    <input type="text" name="EMAIL" class="form-control" value="@ViewBag.EMAIL" />
                </div>
            </div>
            <div class="form-group container-fluid">
                Điện thoại
                <div class="col-md-12">
                    <input type="text" name="DIENTHOAI" class="form-control" value="@ViewBag.DIENTHOAI" />
                </div>
            </div>
            <div class="form-group container-fluid">
                Facebook
                <div class="col-md-12">
                    @if (@ViewBag.FACEBOOK.Equals(""))
                    {
                        <input type="text" name="FACEBOOK" class="form-control" placeholder="Chưa cập nhật" />
                    }
                    else
                    {
                        <input type="text" name="FACEBOOK" class="form-control" value="@ViewBag.FACEBOOK" />
                    }
                </div>
            </div>
            <div class="form-group container-fluid">
                Chức vụ
                <div class="col-md-12">
                    @Html.DropDownList("MAPQ", ViewBag.MAPQ as SelectList, new { @class = "form-control" })
                </div>
            </div>

            <br />
            <div class="form-group container-fluid row">
                <div class="col-md-1" style="padding-left: 0;">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="col-md-1" style="padding-left: 0; padding-right: 0">
                    <a href="/Admin/Admin/QuanLyNhanVien"><button class="btn btn-danger">Back</button></a>
                </div>

            </div>
            <br />
        </div>

    </div>
}


