@using EstateSolution.Models
@model HoaDonViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hóa đơn thanh toán</title>
    <link href="~/Areas/Admin/Content/HoaDon/style.css" rel="stylesheet" />
    <style>
        #khachhang {
            float: left;
            font-size: 1em;
            margin-top: 100px;
            margin-left: 75px;
        }
        #lamchung {
            float: left;
            font-size: 1em;
            margin-top: 100px;
            margin-left: 75px;
        }
        .CustomFont {
            font-family: 'Times New Roman', Times;
        }
        .CustomFontItalic {
            font-family: 'Times New Roman', Times;
            font-style: italic
        }
    </style>
</head>
<body>
    @*<header class="clearfix">

            <div class="container CustomFont">
                <h2 style="text-align:center;font-weight:bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
                <h3 style="text-align:center">Độc lập - Tự do - Hạnh phúc</h3>
                <h2 style="text-align:center">--------***--------</h2>
            </div>
            <div class="container CustomFont">
                <br />
                <h2 style="text-align:center;font-weight:bold">HỢP ĐỒNG ĐẶT CỌC</h2>
                <h3 style="text-align:center;" class="CustomFontItalic">(V/v mua bán nhà, đất)</h3>
                <h3>
                    Hôm nay là ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year tại ........................................................................................................................<br /><br />
                    ..................................................................................................................................................................................................<br /><br />
                    TP. Hồ Chí Minh, chúng tôi gồm có:

                </h3>
            </div>

        </header>*@
    <div style="background-color:#fff">
        <main class="CustomFont">
            <div class="container CustomFont">
                <h2 style="text-align:center;font-weight:bold">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h2>
                <h3 style="text-align:center">Độc lập - Tự do - Hạnh phúc</h3>
                <h2 style="text-align:center">--------***--------</h2>
            </div>
            <div class="container CustomFont">
                <br />
                <h2 style="text-align:center;font-weight:bold">HỢP ĐỒNG ĐẶT CỌC</h2>
                <h3 style="text-align:center;" class="CustomFontItalic">(V/v mua bán nhà, đất)</h3>
                <h3>
                    Hôm nay là ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year tại ..................................................................................................................<br /><br />
                    TP. Hồ Chí Minh, chúng tôi gồm có:

                </h3>

            </div>
            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    I. BÊN NHẬN ĐẶT CỌC - BÊN BÁN(sau đây gọi tắt là BÊN A):
                </h3>
                <h3>
                    Ông/Bà: .............................................................................. Sinh năm: ...............................................................................
                </h3>
                <h3>
                    CMND/CCCD số: ..................................... Ngày cấp: ............................. Nơi cấp: .......................................................
                </h3>
                <h3>
                    Thường trú: ..........................................................................................................................................................................
                </h3>
                <h3>
                    Địa chỉ liên hệ: ......................................................................................................................................................................
                </h3>
                <h3>
                    Số điện thoại: ........................................................................................................................................................................
                </h3>
                <h3>
                    Bên A đã ký kết với Công Ty Bất Động Sản Trung Nhân. Hợp đồng mua bán nhà đất: @Model.TENBDS /HĐMB/RM ký ngày  @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year.
                </h3>

            </div>
            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    II. BÊN ĐẶT CỌC - BÊN MUA(sau đây gọi tắt là BÊN B):
                </h3>
                <h3>
                    Ông/Bà: @Model.HoTenTV Sinh năm: ...............................................................................
                </h3>
                <h3>
                    CMND/CCCD số: ..................................... Ngày cấp: ............................. Nơi cấp: .......................................................
                </h3>
                <h3>
                    Thường trú: ..........................................................................................................................................................................
                </h3>
                <h3>
                    Địa chỉ liên hệ: ......................................................................................................................................................................
                </h3>
                <h3>
                    Số điện thoại: ........................................................................................................................................................................
                </h3>

            </div>

            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    III. BÊN LÀM CHỨNG - BÊN MÔI GIỚI(sau đây gọi tắt là BÊN C):
                </h3>
                <h3>
                    Ông/Bà: .............................................................................. Sinh năm: ...............................................................................
                </h3>
                <h3>
                    CMND/CCCD số: ..................................... Ngày cấp: ............................. Nơi cấp: .......................................................
                </h3>
                <h3>
                    Thường trú: ..........................................................................................................................................................................
                </h3>
                <h3>
                    Số điện thoại: ........................................................................................................................................................................
                </h3>
                <h3>
                    Các bên cùng nhau lập và ký Hợp đồng đặt cọc này để đảm bảo thực hiện việc chuyển nhượng quyền sử dụng đất, quyền sở hữu nhà ở và tài sản khác gắn liền với đất theo các thỏa thuận sau đây:
                </h3>

            </div>
            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    ĐIỀU 1: NỘI DUNG HỢP ĐỒNG
                </h3>
                <h3>
                    1. Bên A đã ký hợp đồng mua bán số: @Model.MaHD/ HĐMB/RM ngày @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year. với chủ đầu tư - Công Ty Bất Động Sản Trung Nhân với thông tin sau:
                </h3>
                <h3>
                    @Html.Raw(@Model.MOTA.ToString().Replace("&nbsp;", "<p></p>"))
                </h3>
                <h3>
                    2. Bên A đồng ý nhận đặt cọc, Bên B đồng ý đặt cọc số tiền @String.Format("{0:0,0}", @Convert.ToDouble(@Model.TongTien)) đồng (@Model.TEXT_TOTAL) để đảm bảo thực hiện việc chuyển nhượng toàn bộ giá trị tài sản nêu tại khoản 1. Điều này với giá trị chuyển nhượng là @String.Format("{0:0,0}", @Convert.ToDouble(@Model.GIABAN)) đồng (@Model.TEXT_GIA).
                </h3>
                <h3>
                    Giá trị chuyển nhượng này không bao gồm thuế giá trị gia tăng và các bên tự chịu trách nhiệm đóng các loại phí, thuế... với cơ quan có thẩm quyền theo quy định.
                </h3>
                <h3>
                    3. Giá trị chuyển nhượng này cố định trong mọi trường hợp, không tăng, không giảm khi giá thị trường biến động (nếu có).
                </h3>
            </div>

            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    ĐIỀU 2: THỜI GIAN ĐẶT CỌC
                </h3>
                <h3>
                    1. Bên B sẽ thanh toán số tiền đặt cọc nêu trên cho Bên A vào ngày ...../...../20..... . Trong thời hạn ..... ngày kể từ ngày đặt cọc, hai Bên phải ký kết Hợp đồng chuyển nhượng tài sản có công chứng, chứng thực theo quy định của pháp luật.
                </h3>
                <h3>
                    2. Phương thức đặt cọc: Bằng tiền mặt hoặc chuyển khoản.
                </h3>
                <h3>
                    3. Số tiền đặt cọc này sẽ được trừ vào Giá trị chuyển nhượng tài sản sau khi hai bên ký kết Hợp đồng chuyển nhượng tài sản công chứng, chứng thực hợp lệ, hợp pháp.
                </h3>
            </div>

            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    ĐIỀU 3: QUYỀN VÀ NGHĨA VỤ CỦA CÁC BÊN
                </h3>
                <h3>
                    1. Quyền và nghĩa vụ của Bên A.
                </h3>
                <h3>
                    1.1 Nhận đầy đủ, đúng hạn số tiền mà bên B thanh toán theo nội dung của Hợp đồng.
                </h3>
                <h3>
                    1.2 Cung cấp đầy đủ hồ sơ, giấy tờ hợp lệ, hợp pháp và hợp tác cùng Bên B thực hiện việc công chứng, chứng thực hợp đồng chuyển nhượng tài sản.
                </h3>
                <h3>
                    1.3 Bảo quản, quản lý tài sản gắn liền đúng hiện trạng ban đầu trong suốt quá trình giao dịch.
                </h3>
                <h3>
                    1.4 Thực hiện đúng nội dung cam kết trong hợp đồng này. Nếu vi phạm các cam kết được quy định trong hợp đồng hoặc đơn phương chấm dứt hợp đồng vì bất kỳ lý do gì Bên A sẽ phải hoàn trả lại cho Bên B toàn bộ số tiền cọc đã nhận và bồi thường số tiền đúng bằng số tiền cọc nêu trên.
                </h3>
                <h3>
                    2. Quyền và nghĩa vụ của Bên B.
                </h3>
                <h3>
                    2.1 Thanh toán tiền cho bên A theo nội dụng cam kết.

                </h3>
                <h3>
                    2.2 Thực hiện đúng nội dung cam kết theo hợp đồng này. Nếu Bên B vi phạm nội dung cam kết hoặc đơn phương chấm dứt hợp đồng thì Bên B sẽ mất số tiền đã đặt cọc cho Bên A.
                </h3>
            </div>

            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    ĐIỀU 4. CAM ĐOAN CỦA CÁC BÊN
                </h3>
                <h3>
                    Các Bên cam đoan và chịu trách nhiệm trước pháp luật về những lời cam đoan sau đây:
                </h3>
                <h3>
                    1. Việc giao kết Hợp đồng này hoàn toàn tự nguyện, không bị lừa dối hoặc ép buộc.
                </h3>
                <h3>
                    2. Những thông tin về nhân thân, tài sản là đúng.
                </h3>
                <h3>
                    3. Thực hiện đúng và đầy đủ tất cả các thoả thuận đã ghi trong Hợp đồng này.
                </h3>
                <h3>
                    4. Việc giao nhận tiền đặt cọc được lập thành Biên bản giao nhận tiền đặt cọc đính kèm Hợp đồng này.
                </h3>
                <h3>
                    5. Bên A đảm bảo căn hộ trên hợp pháp và có pháp lý rõ ràng như: không bị tranh chấp; không thuộc tài sản bị nhà nước kê biên, tịch thu; chưa hứa bán cho người thứ ba.
                </h3>
            </div>

            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    ĐIỀU 5. PHƯƠNG THỨC GIẢI QUYẾT TRANH CHẤP
                </h3>
                <h3>
                    Trong quá trình thực hiện hợp đồng mà phát sinh tranh chấp, các bên cùng nhau thương lượng giải quyết trên nguyên tắc tôn trọng quyền lợi của nhau; trong trường hợp không giải quyết được, thì một trong hai bên có quyền khởi kiện để yêu cầu tòa án có thẩm quyền giải quyết theo quy định của pháp luật.
                </h3>

            </div>

            <div>
                <h3 class="CustomFont" style="font-weight: bold">
                    ĐIỀU 6. ĐIỀU KHOẢN CUỐI CÙNG
                </h3>
                <h3>
                    Hai bên công nhận đã hiểu rõ quyền, nghĩa vụ và lợi ích hợp pháp của mình, cùng nhau ký kết và thực hiện đúng cam kết ghi trong hợp đồng trước sự có mặt của người làm chứng.
                </h3>
                <h3>
                    Biên bản đặt cọc này sẽ mặc nhiên không còn hiệu lực khi các bên đã hoàn tất thủ tục ký hợp đồng chuyển nhượng và bàn giao đầy đủ giấy tờ.
                </h3>
                <h3>
                    Hợp đồng này có hiệu lực từ ngày ký, được lập thành 3 bản có pháp lý ngang nhau. Bên A giữ 1 (một) bản, Bên B giữ 1 (một) bản, Bên C giữ 1 (một) bản.
                </h3>

            </div>
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div id="khachhang" style="margin-left: 80px; text-align: center; margin-top: 10px ">
                            <p style="font-weight:bold">Bên B(BÊN MUA)</p>
                            <p class="chuky"><i>(Ký và ghi rõ họ tên)</i></p>
                            <br />
                            <p>@Model.HoTenTV</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="lamchung" style="margin-left: 140px; text-align: center; margin-top: 10px ">
                            <p style="font-weight:bold">Bên làm chứng</p>
                            <p class="chuky"><i>(Ký và ghi rõ họ tên)</i></p>
                            <br />
                            <p>@Model.HoTenNV</p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="nhanvien" style="padding-left: 20px; text-align: center; margin-top: 10px ">
                            <p style="font-weight:bold">Bên A(BÊN BÁN)</p>
                            <p class="chuky"><i>(Ký và ghi rõ họ tên)</i></p>
                            <br />
                            <p>@Model.ChuSoHuu</p>
                        </div>
                    </div>


                </div>

            </div>

        </main>
        <footer style="border:none">
            <div class="col-md-12" style="margin-top: 2000px; border-top: 1px solid #808080; padding-bottom: 30px">
                Hóa đơn đã được tạo trên máy tính và không hợp lệ nếu không có chữ ký và dấu. Trung Nhân Estate&trade; Co.
                <a href="/Admin/Admin/ExportPDF?t=1&&maDon=@Request.QueryString["maDon"]&&maNv=@Request.QueryString["maNv"]" class="btn btn-success">ExportPDF</a> 
                <a href="/Admin/Admin/QuanLyDonDatCoc" class="btn btn-success"> - Trở về</a> <br>
            </div>
        </footer>
    </div>
</body>
</html>


