@using EstateSolution.Models
@{
    ViewBag.Title = "QuanLyDanhGia";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@helper Truncate(String s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length) <text> ... </text>

    }
}
@{
    NHANVIEN nv = (NHANVIEN)Session["NHANVIEN"];
}
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">QUẢN LÝ THÔNG TIN ĐÁNH GIÁ BÌNH LUẬN</h3>
        <div class="card mb-4" style="margin-top:1%">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng danh sách thông tin đánh giá và bình luận
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã bình luận</th>
                            <th>Ảnh đại diện</th>
                            <th>Tên bất động sản</th>
                            <th>Người bình luận</th>
                            <th>Nội dung</th>
                            <th>Ngày bình luận</th>
                            <th>Số sao</th>
                            <th>Nội dung phản hồi</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã bình luận</th>
                            <th>Hình ảnh</th>
                            <th>Tên bất động sản</th>
                            <th>Người bình luận</th>
                            <th>Nội dung</th>
                            <th>Ngày bình luận</th>
                            <th>Số sao</th>
                            <th>Nội dung phản hồi</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var i in Model)
                        {
                            var ii = 0; var y = 1;
                        <tr>
                            <td>@i.MABL</td>
                            <td><img src="~/assets/img/img-data/@i.BDS.HINHANH" style="width:50px; height:auto" /></td>
                            <td>@Truncate(@i.BDS.TENBDS.ToString(), 15)</td>
                            <td>@i.HOTEN</td>
                            <td>@Truncate(i.NOIDUNG.ToString(), 10)</td>
                            <td>@Html.FormatValue(@i.NGAYBL, "{0:dd/MM/yyyy}")</td>

                            <td>
                                @if (i.SOSAO == 5)
                                {
                                    for (; ii < (int)i.SOSAO; ii++)
                                    {
                                        <img src="~/Areas/Admin/src/img/icon_star.png" width="25" height="auto" style="color: #FFD700;" />
                                    }
                                }
                                else if (i.SOSAO < 5)
                                {
                                    for (; ii < (int)i.SOSAO; ii++)
                                    {
                                        <img src="~/Areas/Admin/src/img/icon_star.png" width="25" height="auto" style="color: #FFD700;" />
                                    }
                                    for (; y <= 5 - (int)i.SOSAO; y++)
                                    {
                                        <img src="~/Areas/Admin/src/img/icon-star-o.png" width="25" height="auto" style="color: #FFD700;" />
                                    }
                                }

                            </td>
                            @Html.Action("PartialPhanHoi", "Admin", new { ma = i.MABL, maBds = i.MABDS, maNv = nv.MANV })
                            



                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


