@using EstateSolution.Models
@{
    ViewBag.Title = "QuanLyBDS";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@helper Truncate(String s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length) <text> ... </text>

    }
}
@{
    NHANVIEN tv = (NHANVIEN)Session["NHANVIEN"];
}
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">QUẢN LÝ BẤT ĐỘNG SẢN</h3>
        <div class="mb-4" style="margin-top:1%">

            <a href="@Url.Action("CreateBds","Admin", new { ma = tv.MANV})" class=" btn btn-success" role="button" style="color:white"><i class="fas fa-plus-circle"></i> Thêm bất động sản</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng danh sách bất động sản
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Id</th>
                            <th>Mã loại</th>
                            <th>Tên</th>
                            <th>Mức giá</th>
                            <th>Cọc trước</th>
                            <th>Người đăng</th>
                            <th>Ngày đăng</th>
                            <th>Nhân viên duyệt</th>
                            <th>Tình trạng</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Id</th>
                            <th>Mã loại</th>
                            <th>Tên</th>
                            <th>Mức giá</th>
                            <th>Cọc trước</th>
                            <th>Người đăng</th>
                            <th>Ngày đăng</th>
                            <th>Nhân viên duyệt</th>
                            <th>Tình trạng</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var i in Model)
                        {
                            if(i.STATE_DELETE != 0) { 
                                <tr>
                                <td><img src="~/assets/img/img-data/@i.HINHANH" style="width:50px" /></td>
                                <td>@i.MABDS</td>
                                <td>@i.MALOAI_BDS</td>
                                <td>@Truncate(@i.TENBDS, 15)</td>
                                <td>@Html.FormatValue(@i.GIA, "{0:#,##0}") tỷ ₫</td>
                                <td>@i.COC_TRUOC %</td>
                                <td>@i.THANHVIEN.TENTHANHVIEN</td>
                                <td>@Html.FormatValue(i.NGAYDANG, "{0:dd/MM/yyyy}")</td>
                                @if (i.MATV == 1)
                                {
                                    <td>Chưa được duyệt</td>
                                }
                                else {
                                    <td>@i.NHANVIEN.HOTEN</td>
                                }
                                
                                @if (@i.DUYET != 0)
                                {
                                    <td><label class="label label-success">Đã duyệt</label></td>
                                    <td><a href="@Url.Action("DuyetBds",new { ma = @i.MABDS, state = 1, manv=tv.MANV})" class=" btn btn-success" role="button">Ẩn đi</a></td>
                                    <td><a href="@Url.Action("EditBds",new { ma = @i.MABDS})" class=" btn btn-warning" role="button">Sửa</a></td>
                                    <td><a href="@Url.Action("DetailBds", new{ ma = @i.MABDS})" class=" btn btn-primary" role="button">Chi tiết</a></td>
                                    <td><a href="@Url.Action("DeleteBds", new{ ma = @i.MABDS})" class=" btn btn-danger" role="button">Xóa</a></td>
                                }
                                else
                                {
                                    <td><label class="label label-default">Chưa duyệt</label></td>
                                    <td><a href="@Url.Action("DuyetBds",new { ma = @i.MABDS, state = 0, manv=tv.MANV})" class=" btn btn-success" role="button">Duyệt</a></td>
                                    <td><a href="@Url.Action("EditBds",new { ma = @i.MABDS})" class=" btn btn-warning" role="button">Sửa</a></td>
                                    <td><a href="@Url.Action("DetailBds", new{ ma = @i.MABDS})" class=" btn btn-primary" role="button">Chi tiết</a></td>
                                    <td><a href="@Url.Action("DeleteBds", new{ ma = @i.MABDS})" class=" btn btn-danger" role="button">Xóa</a></td>
                                }


                            </tr>
                            }
                            
                        }


                    </tbody>
                </table>
            </div>
        </div>
        

    </div>
</main>








