@using EstateSolution.Models
@{
    ViewBag.Title = "QuanLyTinNhan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@helper Truncate(String s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length) <text>... </text>

    }
}
@{
    NHANVIEN tv = (NHANVIEN)Session["NHANVIEN"];
}
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">QUẢN LÝ TIN NHẮN PHẢN HỒI</h3>
        <div class="card mb-4" style="margin-top:1%">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng danh sách tin nhắn phản hồi từ khách hàng
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã tin nhắn</th>
                            <th>Họ và tên</th>
                            <th>Tiêu đề</th>
                            <th>Nội dung</th>
                            <th>Email</th>
                            <th>Ngày nhắn</th>
                            <th>Hình ảnh phản hồi</th>
                            <th>Tình trạng</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã tin nhắn</th>
                            <th>Họ và tên</th>
                            <th>Tiêu đề</th>
                            <th>Nội dung</th>
                            <th>Email</th>
                            <th>Ngày nhắn</th>
                            <th>Hình ảnh phản hồi</th>
                            <th>Tình trạng</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.MATINNHAN</td>
                                <td>@i.HOTEN</td>
                                <td>@i.TIEUDE</td>
                                <td>@Truncate(@i.NOIDUNG, 15)</td>
                                <td>@Truncate(@i.EMAIL, 10)</td>
                                <td>@Html.FormatValue(@i.NGAYNHAN, "{0:dd/MM/yyyy}")</td>
                                <td><img src="~/assets/img/img-contact/@i.HINHANH" style="width:50px" /></td>
                                @if (@i.TINHTRANG_PHANHOI == 0)
                                {
                                    <td>Chưa phản hồi</td>
                                }
                                else { 
                                    <td>Đã phản hồi</td>
                                }

                                <td><a href="@Url.Action("EditTn",new { ma = @i.MATINNHAN})" class=" btn btn-warning" role="button">Sửa</a></td>
                                <td><a href="@Url.Action("DetailTn", new{ ma = @i.MATINNHAN})" class=" btn btn-primary" role="button">Chi tiết</a></td>
                                <td><a href="@Url.Action("DeleteTn", new{ ma = @i.MATINNHAN})" class=" btn btn-danger" role="button">Xóa</a></td>
                                <td><a href="@Url.Action("GuiMailTn", new{ ma = @i.MATINNHAN})" class=" btn btn-success" role="button"> Gửi mail</a></td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>









