@using EstateSolution.Models
@{
    ViewBag.Title = "QuanLyThanhVien";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@helper Truncate(String s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length) <text> ... </text>

    }
}
@{
    NHANVIEN tv = (NHANVIEN)Session["NHANVIEN"];
}
<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">QUẢN LÝ THÀNH VIÊN</h3>
        <div class="mb-4" style="margin-top:1%">
            <a id="add" href="@Url.Action("CreateTv","QuanLyThanhVien")" class=" btn btn-success" role="button" style="color:white"><i class="fas fa-plus-circle"></i> Thêm thành viên mới</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Bảng danh sách thành viên
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Ảnh đại diện</th>
                            <th>Mã thành viên</th>
                            <th>Họ và tên</th>
                            <th>Giới tính</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Ngày đăng ký</th>
                            <th>Tài khoản</th>
                            <th>Mật khẩu</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ảnh đại diện</th>
                            <th>Mã thành viên</th>
                            <th>Họ và tên</th>
                            <th>Giới tính</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Điện thoại</th>
                            <th>Ngày đăng ký</th>
                            <th>Tài khoản</th>
                            <th>Mật khẩu</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var i in Model)
                        {
                        <tr>
                            @if (i.ANH_DAI_DIEN == null || i.ANH_DAI_DIEN.Equals(""))
                            {
                                <td>Chưa cập nhật</td>
                                <td>@i.MATV</td>
                                <td>@i.TENTHANHVIEN</td>
                                <td>@i.GIOITINH</td>
                                <td>@i.DIACHI</td>
                                <td>@i.EMAIL</td>
                                <td>@i.DIENTHOAI</td>
                                <td>@Html.FormatValue(@i.NGAYDKTK, "{0:dd/MM/yyyy}")</td>
                                <td>@i.TAIKHOAN</td>
                                <td>@i.MATKHAU</td>
                                <td><a id="edit" href="@Url.Action("EditTv",new { ma = @i.MATV})" class=" btn btn-warning" role="button">Sửa</a></td>
                                <td><a id="details" href="@Url.Action("DetailTv", new{ ma = @i.MATV})" class=" btn btn-primary" role="button">Chi tiết</a></td>
                                <td><a id="delete" href="@Url.Action("DeleteTv", new{ ma = @i.MATV})" class=" btn btn-danger" role="button">Xóa</a></td>
                            }
                            else
                            {
                                <td><img src="~/assets/Upload-Anh-Dai-Dien/@i.ANH_DAI_DIEN" style="width:50px; height:auto" /></td>
                                <td>@i.MATV</td>
                                <td>@i.TENTHANHVIEN</td>
                                <td>@i.GIOITINH</td>
                                <td>@i.DIACHI</td>
                                <td>@i.EMAIL</td>
                                <td>@i.DIENTHOAI</td>
                                <td>@Html.FormatValue(@i.NGAYDKTK, "{0:dd/MM/yyyy}")</td>
                                <td>@i.TAIKHOAN</td>
                                <td>@i.MATKHAU</td>
                                <td><a id="edit" href="@Url.Action("EditTv",new { ma = @i.MATV})" class=" btn btn-warning" role="button">Sửa</a></td>
                                <td><a id="details" href="@Url.Action("DetailTv", new{ ma = @i.MATV})" class=" btn btn-primary" role="button">Chi tiết</a></td>
                                <td><a id="delete" href="@Url.Action("DeleteTv", new{ ma = @i.MATV})" class=" btn btn-danger" role="button">Xóa</a></td>
                            }


                        </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

